<!DOCTYPE html lang="en">
<h1>Index Page</h1>
<table>
  <tr>
    <td><%=link_to 'Ps1:basics part 1', '/basics/ps1' %></td>
  </tr>
  <tr>
    <td> <%= link_to 'Ps2:basics part 2', '/basics/ps2' %></td>
  </tr>
  <tr>
    <td> <%= link_to 'Ps3:Planning','/basics/ps3' %></td>


  </tr>



</table>