<html>
<head>

</head>
<body>
<center><h1><%= @entries %></h1></center>
<table>



<%= @link.zip(@img).each do |l, i| %>

    <tr>

       <td><%= @link %> </td>
       <td> <a href="<%= raw @img %>"></a></td>

    </tr>

<% end %>>
</table>


</body>
</html>