<!DOCTYPE html lang="en">
<head></head>
<body>

<h1>Basics part 2</h1>

<table>
  <tr>
      <td> <%= link_to 'Quotations', '/basics/quotations' %>
  </tr>
  <tr>
      <td><%= link_to 'SQL','/sqlps.sql' %> </td>

  </tr>
 <tr>
     <td><%= link_to 'Transcript','/transcript.txt' %>
  </tr>
  <tr>
     <td><%= link_to 'Stocks','/stocks' %>

  </tr>


</table>








</body>
</html>